// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,700;1,400&family=Nunito+Sans&display=swap');
@import 'vue-phone-number-input/dist/vue-phone-number-input.css';

.jost {
  font-family: 'Jost', sans-serif;
}

.c_h1 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 80px;
}

.c_h2 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
}

.c_h3 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
}

.c_h4 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 43px;
}

.c_h5 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
}

.c_p1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
}

.c_p2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

.c_p3 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.c_black {
  color: #333333;
}

.c_darkgrey {
  color: #6C7C85;
}

@media (max-width: 786px) {
  .c_h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 58px;
  }

  .c_h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 46px;
  }

  .c_h3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
  }

  .c_h4 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
  }

  .c_h5 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
  }

  .c_p1 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
  }

  .c_p2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
  }

  .c_p3 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
  }

  .c_p4 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
  }

}


.custom_select_input {
  height: 40px;
}

.custom_btn {
  background-image: linear-gradient(345.6deg, #f38481 0%, #f23b34 100%);
  border-radius: 10px;
  color: white;
  border: none;

}

.pointer {
  cursor: pointer;
}
